# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

build/
.build/
bin/

.env
.dynamodb
tmp/

.DS_Store

# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*
